---
import { Icon } from "astro-icon/components";

const socials = [
    {
        name: "Github",
        href: "https://github.com/Lex043",
        icon: "github",
        size: 20,
        label: "Go to my github site",
    },
    {
        name: "Twitter",
        href: "https://x.com/Lex_Feranmi",
        icon: "twitter",
        size: 14,
        label: "Go to my twitter site",
    },
    {
        name: "Linkedin",
        href: "https://www.linkedin.com/in/alexoyebamiji/",
        icon: "linkedin",
        size: 20,
        label: "Go to my linkedin site",
    },
    {
        name: "Mail",
        href: "mailto:alexferanmi390@gmail.com",
        icon: "mail",
        size: 20,
        label: "Go to my mail",
    },
];
---

<script>
    import gsap from "gsap";
    gsap.from("#hero", {
        opacity: 0,
        y: 25,
        duration: 0.3,
        ease: "easeOut",
    });
</script>

<section class="px-6 py-20 md:px-14 lg:px-24 max-w-4xl mx-auto">
    <div id="hero" class="mt-16">
        <h1
            class="[color:var(--heading_1_color)] mb-4 font-semibold text-2xl lg:text-4xl font-serif"
        >
            Alex Oyebamiji
        </h1>
        <p class="[color:var(--text-color)] text-lg font-serif leading-7 mb-5">
            A frontend engineer focused on solving problems by turning
            thoughtful design into fast, accessible, and engaging web
            experiences.
        </p>
        <div class="flex gap-6 items-center flex-wrap font-mono">
            {
                socials.map((item) => (
                    <a
                        href={item.href}
                        target="_blank"
                        rel="noopener noreferrer"
                        aria-label={item.label}
                        class="text-[var(--text-color)] bg-[var(--link-bg)] h-8 rounded-full px-4 text-sm transition-colors duration-200 hover:bg-[var(--link-hover)] flex items-center gap-1.5 active:scale-[0.97]"
                    >
                        <Icon
                            class="text-[var(--heading_1_color)] -mt-0.5"
                            size={item.size}
                            name={item.icon}
                        />
                        {item.name}
                    </a>
                ))
            }
        </div>
    </div>
</section>
