---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import aquaresist from "../images/aquaresist.png";
import huele from "../images/huele.png";
import homicks from "../images/homicks.png";
import busayo from "../images/busayo.png";

const projects = [
    {
        id: 1,
        title: "Huele Bien",
        subtitle:
            "An online perfume shop offering authentic, high-quality fragrances for men and women.",
        img: huele,
        link: "https://www.huelebienbyprudent.com",
    },
    {
        id: 2,
        title: "Aquaresist",
        subtitle:
            "Aqua Resist provides sustainable, technology-driven solutions to protect communities from current and future water challenges.",

        img: aquaresist,
        link: "https://www.aquaresist.org",
    },
    {
        id: 3,
        title: "Homicks",
        subtitle:
            "Homicks was created to blend traditional craftsmanship with modern style. We believe fashion is more than clothing, it is a statement of identity, confidence and culture.",

        img: homicks,
        link: "https://www.homicksfw.com",
    },
    {
        id: 4,
        title: "Omidiji Peter Busayo",
        subtitle:
            "A visual and Product designer you can count on, I turn complex ideas into experiences users love and investors trust. I help SaaS, AI, and Dev founders craft story-driven brands and products.",
        img: busayo,
        link: "https://busayoomidiji.vercel.app",
    },
];
---

<section class="px-6 pb-10 md:px-14 lg:px-24 max-w-4xl mx-auto">
    <header>
        <h1
            class="text-[var(--heading_1_color)] font-medium text-2xl lg:text-4xl font-serif"
        >
            Projects
        </h1>
        <p class="text-[var(--text-color)] text-base mt-4">
            A couple of projects I've worked on.
        </p>
        <div class="mt-8 grid grid-cols-1 md:grid-cols-2 gap-10">
            {
                projects.map((project) => (
                    <a
                        href={project.link}
                        target="_blank"
                        rel="noopener noreferrer"
                        aria-label="Go to website"
                        class="group cursor-pointer hover:bg-[var(--link-hover)] hover:scale-[0.98] transition-transform duration-400  rounded-md flex flex-col h-full"
                    >
                        {project.img && (
                            <Image
                                class="rounded-tl-md rounded-tr-md"
                                src={project.img}
                                alt={project.title}
                            />
                        )}

                        <div class="p-2.5">
                            <div class="flex items-center gap-2">
                                <h3 class="text-[var(--heading_1_color)]">
                                    {project.title}
                                </h3>
                                <Icon
                                    class="text-[var(--heading_1_color)] -rotate-45 group-hover:rotate-0 transition-transform duration-400"
                                    size={18}
                                    name="front"
                                />
                            </div>
                            <p class="text-[var(--text-color)] text-sm py-3">
                                {project.subtitle}
                            </p>
                        </div>
                    </a>
                ))
            }
        </div>
    </header>
</section>
